In [1]:
import pandas as pd
import numpy as np

## Fluid Milk Total Availability

In [236]:
df_fluid_milk_total_availability = pd.read_excel("Food_Availability/raw_data/dyfluid.xlsx", sheet_name="FluidmilkPccLb")
cols = ["Year", "US Population", "Plain Whole Milk - Consumed", "Plain Whole Mild - Sales", "Plain Whole Milk - Total", "Flavored Whole Milk", "Total Plain and Flavored", "2 Percent Plain", "1 Percent Plain", "Total Low Fat", "Low Fat Flavored", "Total Low Fat", "Buttermilk", "Skim Milk", "Butter and Skim Consumed", "Total low fat and skim", "Other Eggnog", "Misc", "Total other", "Total beverage milk Sales", "Total Beverage Fluid Milk Available"]
df_fluid_milk_total_availability_trimmed = df_milk.iloc[6:119,:]
df_fluid_milk_total_availability_trimmed.columns = cols
df_fluid_milk_total_availability_trimmed.to_csv("Food_Availability/trimmed_data/df_fluid_milk_trimmed.csv")

In [239]:
df_fluid_milk_total_availability_trimmed

,Year,US Population,Plain Whole Milk - Consumed,Plain Whole Mild - Sales,Plain Whole Milk - Total,Flavored Whole Milk,Total Plain and Flavored,2 Percent Plain,1 Percent Plain,Total Low Fat,...,Total Low Fat,Buttermilk,Skim Milk,Butter and Skim Consumed,Total low fat and skim,Other Eggnog,Misc,Total other,Total beverage milk Sales,Total Beverage Fluid Milk Available
6,1909,90.49,9643,11121,20764,128,20892,NaN,NaN,NaN,...,86,221,114,5299,5720,*,NaN,NaN,11670,26612
7,1910,92.407,9671,10220,19891,118,20009,NaN,NaN,NaN,...,79,215,111,5239,5644,*,NaN,NaN,10743,25653
8,1911,93.863,9696,9863,19559,118,19677,NaN,NaN,NaN,...,80,203,104,5209,5596,*,NaN,NaN,10368,25273
9,1912,95.335,9716,12729,22445,153,22598,NaN,NaN,NaN,...,104,261,134,5177,5676,*,NaN,NaN,13381,28274
10,1913,97.225,9732,12225,21957,147,22104,NaN,NaN,NaN,...,100,250,129,5142,5621,*,NaN,NaN,12851,27725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,2017,324.985539,91,15621.4,15712.4,655.5,16367.9,16101.8,6805.2,22907,...,26884.8,501.1,4410.4,NaN,31796.3,146.2,49.5,195.7,48268.9,48359.9
115,2018,326.687501,89,15900.8,15989.8,708,16697.8,15667.1,6442.8,22109.9,...,25939.9,478.3,3965.5,NaN,30383.7,123.9,118.3,242.2,47234.7,47323.7
116,2019,328.239523,89,16122.9,16211.9,779.9,16991.8,15284.3,6067.9,21352.2,...,25097.9,445,3542.8,NaN,29085.7,121.4,306.7,428.1,46416.6,46505.6
117,2020,329.877505,86,16651.3,16737.3,765.5,17502.8,15838.0,5809.6,21647.6,...,24523.3,420.5,3067.6,NaN,28011.4,132.1,804.3,936.4,46364.6,46450.6
118,2021,331.893745,84,15811.7,15895.7,810,16705.7,14609.1,5454.2,20063.3,...,23424.2,454.1,2691.5,NaN,26569.8,140.8,1179.9,1320.7,44512.2,44596.2

## Dairy Total Availablilty

In [181]:
df_dairy_total = pd.read_excel("Food_Availability/raw_data/dymfg.xlsx", sheet_name="AllDairyPcc")
df_dairy_total_trimmed = df_dairy_total.iloc[5:118,:]
df_dairy_total_cols = ["Year","Fluid Milk", "Fluid Cream", "Sour Cream", "Yoghurt","Butter", "American Cheese", "Other Cheeses", "Total", "Cottage Cheese", "Ice cream", "Lowfat and non fat icecream", "Sherbet", "Frozen Yoghurt", "Other Frozen Prodcuts", "Total", "Whole Milk/Evaporated_Condensed", "Skim Milk/Evaporated_Condensed", "Total/Evaporated_Condensed", "Whole Milk/Dry", "Nonfat Milk/Dry", "Buttermilk/Dry","Total/Dry", "Dried Whey", "All Dairy"]
df_dairy_total_trimmed.columns = df_dairy_total_cols
df_dairy_total_trimmed.to_csv("Food_Availability/trimmed_data/df_dairy_trimmed.csv")

## Eggs

In [189]:
df_eggs = pd.read_excel("Food_Availability/raw_data/eggs.xlsx", sheet_name="EggsPcc")
df_eggs_trimmed = df_eggs.iloc[5:118,:]
df_eggs_cols = ["Year", "US Population", "Shell Total", "Shell Per Capita", "Processed Total", "Processed Per Capita", "Total Farm Weight Count", "Total Farm Weight Count Per Capita", "Total Farm Weight Pounds", "Total Farm Weight Pounds Per Capita", "Total Retail Weight Count", "Total Retail Weight Count Per Capita", "Total Retai Weight Pounds", "Total Retail Weight Pounds Per Capita"]df_eggs_trimmed.columns = df_eggs_cols
df_eggs_trimmed.to_csv("Food_Availability/trimmed_data/df_eggs_trimmed.csv")

## Fats

In [196]:
df_fats = pd.read_excel("Food_Availability/raw_data/fats.xls", sheet_name="FatPcc")
df_fats_cols = list(df_fats.iloc[0].values)
df_fats_trimmed = df_fats.iloc[5:113,:]
df_fats_trimmed.columns = df_fats_cols
df_fats_trimmed.to_csv("Food_Availability/trimmed_data/df_fats_trimmed.csv")

## Fruits

In [202]:
fruits_excel = pd.ExcelFile("Food_Availability/raw_data/frtot.xls")

fruits_excel.close()

fruits_excel_sheets = fruits_excel.sheet_names[2:]

fruits_dict = {}
for sheet_name_ in fruits_excel_sheets:
    df_fruits = pd.read_excel("Food_Availability/raw_data/frtot.xls", sheet_name=sheet_name_)
    df_fruits_cols = list(df_fruits.iloc[0].values)
    df_fruits_trimmed = df_fruits.iloc[3:-3,:]
    df_fruits_trimmed.columns = df_fruits_cols
    fruits_dict[sheet_name_] = df_fruits_trimmed

fruits_dict.keys()

for fruit in fruits_dict.keys():
    df_to_write = fruits_dict[fruit]
    df_to_write.to_csv("Food_Availability/trimmed_data/fruits/df_%s_trimmed.csv"%fruit)

## Fish

In [209]:
fish_df = pd.read_excel("Food_Availability/raw_data/mtfish.xls", sheet_name = "Pcc")
fish_df_trimmed = fish_df.iloc[5:115,:]
fish_df_cols = ["Year", "US Population", "Total Fish", "Per Cap Fish", "Total Shellfish", "Per Cap Shellfish", "Total both", "Per cap both", "Total Salmon", "Per Cap Salmon", "Total Sardines", "Per Cap Sardines", "Total Tuna", "Per Cap Tuna", "Total Canned Shellfish", "Per Cap Canned Shellfish", "Other Total", "Other Per cap", "Total Canned", "Per Cap Canned", "Total Cured", "Per Cap Cured", "Total fish and Shellfish", "Total Per cap fish and shellfilsh"]
fish_df_trimmed.columns = fish_df_cols
fish_df_trimmed.to_csv("Food_Availability/trimmed_data/df_fish_trimmed.csv")

## Canned Fruits

In [215]:
canned_fruits_df = pd.read_excel("Food_Availability/raw_data/fruitcan.xls", sheet_name="PccProc")
canned_fruits_df_cols = list(canned_fruits_df.iloc[0].values)
canned_fruits_df_trimmed = canned_fruits_df.iloc[5:55]
canned_fruits_df_trimmed.columns = canned_fruits_df_cols
canned_fruits_df_trimmed.to_csv("df_canned_fruits_trimmed.csv")

## Vegetables

In [220]:
vegetables_excel = pd.ExcelFile("Food_Availability/raw_data/vegtot.xlsx")
vegetables_sheet_names = vegetables_excel.sheet_names[2:]

vegetables_excel.close()

vegetables_dict = {}
for sheet_name_ in vegetables_sheet_names:
    vegetables_df = pd.read_excel("Food_Availability/raw_data/vegtot.xlsx", sheet_name=sheet_name_)
    vegetables_df_trimmed = vegetables_df.iloc[4:53,0:4]
    vegetables_df_trimmed.columns = ["Year", "Total", "Fresh", "Processed"]
    vegetables_dict[sheet_name_] = vegetables_df_trimmed

vegetables_dict.keys()

for vegetable in vegetables_dict.keys():
    df_to_write = vegetables_dict[vegetable]
    df_to_write.to_csv("Food_Availability/trimmed_data/vegetables/df_%s_trimmed.csv"%vegetable)

## Meat

In [226]:
meat_df = pd.read_excel("Food_Availability/raw_data/mtpcc.xlsx", sheet_name="Carcass")

meat_df_cols = list(meat_df.iloc[1].values)

meat_df_cols[0] = "Year"
meat_df_cols[1] = "US Population"
meat_df_cols[-1] = "Total_Availability"

meat_df_cols

meat_df_trimmed = meat_df.iloc[5:117,:]

meat_df_trimmed.columns = meat_df_cols

meat_df_trimmed.to_csv("Food_Availability/trimmed_data/df_meat_trimmed.csv")

## Average Daily Intake

In [171]:
df_avg_intake = pd.read_excel("Food_Consumption/cumulative_cleaned.xlsx", sheet_name="Avg_Daily_Intake_by_food")

In [172]:
df_avg_intake

,Food Group,Source,Timeline,Total population1,Children age 2–19,Adults age 20–642,Seniors age 65 and above2,Household income < 185% poverty line,Household income 185–300% poverty line,Household income > 300% poverty line
0,Added Sugar - Tsp,Total,2015–16,16.20,16.05,17.18,12.73,16.45,17.01,15.60
1,Added Sugar - Tsp,At home,2015-16,11.31,10.33,12.05,10.00,11.97,11.56,10.56
2,Added Sugar - Tsp,Total - Away from Home,2015-16,4.89,5.72,5.13,2.73,4.47,5.45,5.04
3,Added Sugar - Tsp,Restaurant,2015-16,0.94,0.80,1.00,0.92,0.73,1.05,1.09
4,Added Sugar - Tsp,Fast food,2015-16,2.26,2.25,2.65,0.83,1.97,2.38,2.48
...,...,...,...,...,...,...,...,...,...,...
191,Protein foods,Total - Away from Home,2017-18,2.04,1.52,2.36,1.58,1.91,1.79,2.25
192,Protein foods,Restaurant,2017-18,0.67,0.29,0.80,0.73,0.48,0.52,0.90
193,Protein foods,Fast food,2017-18,0.97,0.78,1.18,0.48,1.02,0.99,0.93
194,Protein foods,School,2017-18,0.04,0.19,NaN,NaN,0.07,0.04,0.02
195,Protein foods,Other,2017-18,0.35,0.26,0.38,0.37,0.34,0.24,0.40

In [169]:
df_avg_intake.iloc[]

,"Average daily intake of food group by food source and demographic characteristics, 2015–16 and 2017–18",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,Away from home,NaN,NaN,NaN,NaN,NaN,NaN,Away from home,NaN,NaN,NaN,NaN
1,Food group,Total,At home,Total,Restaurant,Fast food,School,Other,Total,At home,Total,Restaurant,Fast food,School,Other
2,NaN,2015–16,NaN,NaN,NaN,NaN,NaN,NaN,2017–18,NaN,NaN,NaN,NaN,NaN,NaN
3,Added sugar (tsp),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total population1,16.2,11.31,4.89,0.94,2.26,0.2,1.48,16.94,12.13,4.81,0.85,2.53,0.17,1.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,Household income > 300% poverty line,6.23,3.94,2.29,0.86,1.06,0.04,0.33,6.27,4.01,2.25,0.9,0.93,0.02,0.4
115,Notes: See Dietary Guidelines for Americans 20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,1Individuals who completed two-day intake reca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,2School foods eaten by those age 20 and above ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,Source: 2015–16 and 2017–18 National Health an...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN