In [95]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [108]:
df_dairy_trimmed = pd.read_csv("Food_Availability/trimmed_data/df_dairy_trimmed.csv").drop(columns = ["Unnamed: 0"])

In [109]:
df_dairy_trimmed

,Year,Fluid Milk,Fluid Cream,Sour Cream,Yoghurt,Butter,American Cheese,Other Cheeses,Total,Cottage Cheese,...,Total.1,Whole Milk/Evaporated_Condensed,Skim Milk/Evaporated_Condensed,Total/Evaporated_Condensed,Whole Milk/Dry,Nonfat Milk/Dry,Buttermilk/Dry,Total/Dry,Dried Whey,All Dairy
0,1909,294.087745,12.255498,*,*,17.869378,2.464361,1.359266,3.823627,0.600000,...,1.558183,5.481269,0.596751,6.078020,--,NaN,NaN,NaN,NaN,770.000000
1,1910,277.608839,11.535923,*,*,18.407696,2.759531,1.515037,4.274568,0.600000,...,1.937083,5.800426,0.703410,6.503836,--,NaN,NaN,NaN,NaN,759.000000
2,1911,269.254126,11.186517,*,*,18.686809,2.524957,1.470228,3.995184,0.700000,...,2.301226,6.392295,0.799037,7.191332,--,NaN,NaN,NaN,NaN,749.000000
3,1912,296.575235,12.513767,*,*,16.625583,2.433524,1.426548,3.860072,0.700000,...,2.664289,7.069806,0.797189,7.866995,--,NaN,NaN,NaN,NaN,763.000000
4,1913,285.163281,12.013371,*,*,16.518385,2.653638,1.573669,4.227308,0.700000,...,2.993057,7.971201,0.905117,8.876318,--,NaN,NaN,NaN,NaN,754.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,2017,148.806314,NaN,4.2683406906914705,13.75694114891064,5.701327,15.090132,21.868521,36.958654,2.075315,...,22.702531,1.795964,5.132880,6.928844,0.33686296960729795,2.774395,0.33221708711858755,3.443475,1.374190,643.201525
109,2018,144.859230,NaN,4.288896868447991,13.614375427725527,6.046748,15.403872,22.594467,37.998339,2.125476,...,22.088927,1.953614,4.903485,6.857099,0.3310583650799598,2.274214,0.35880513089073657,2.964077,1.395826,644.202346
110,2019,141.681902,NaN,4.339255026275431,13.371123731242747,6.164667,15.540734,22.793875,38.334609,2.086965,...,22.735299,1.902781,4.807513,6.710294,0.2957066592122814,2.683942,0.3500316635007225,3.329680,1.384232,651.387954
111,2020,140.811663,NaN,4.428531736348619,13.72048480409715,6.344206,15.538379,22.520761,38.059139,2.033979,...,22.335619,2.148674,4.771171,6.919845,0.29238020261837133,2.438961,0.3652708073738652,3.096612,1.089348,653.565670
112,2021,134.368908,NaN,4.501778121790153,14.303439417034221,6.459359,16.058086,23.065701,39.123787,1.932260,...,21.996112,2.045591,4.465878,6.511469,0.22402366946400581,2.339140,0.36054016811432554,2.923704,1.032704,661.323149

In [76]:
df_dairy_trimmed["Yoghurt"]

0                       *
1                       *
2                       *
3                       *
4                       *
              ...
108     13.75694114891064
109    13.614375427725527
110    13.371123731242747
111     13.72048480409715
112    14.303439417034221
Name: Yoghurt, Length: 113, dtype: object

## Check Duplicate values

In [124]:
def check_duplicates(df):
    return len(df[df.duplicated()])

In [120]:
df_dairy_trimmed[df_dairy_trimmed.duplicated()]

Empty DataFrame
Columns: [Year, Fluid Milk, Fluid Cream, Sour Cream, Yoghurt, Butter, American Cheese, Other Cheeses, Total, Cottage Cheese, Ice cream, Lowfat and non fat icecream, Sherbet, Frozen Yoghurt, Other Frozen Prodcuts, Total.1, Whole Milk/Evaporated_Condensed, Skim Milk/Evaporated_Condensed, Total/Evaporated_Condensed, Whole Milk/Dry, Nonfat Milk/Dry, Buttermilk/Dry, Total/Dry, Dried Whey, All Dairy]
Index: []

[0 rows x 25 columns]


## We can see that this dataframe has no duplicates

## Removing inconsistent values
1. Since we know that all the columns have floating point values, we can replace inconsistent values with the following logic - 
    - Try and return the type casted value of the record as a float,
    - If an exception is raised return the value as NaN and print the value. 

2. This way, if the type casted value is a floating point entered as a string, the value is returned correctly, else the inconsistent values is returned. 

3. The following steps can be performed for columns whose dtype is "object"

### Before Removing Inconsistent Values

In [85]:
df_dairy_trimmed.dtypes

Year                                 int64
Fluid Milk                         float64
Fluid Cream                        float64
Sour Cream                          object
Yoghurt                             object
Butter                             float64
American Cheese                    float64
Other Cheeses                      float64
Total                              float64
Cottage Cheese                     float64
Ice cream                          float64
Lowfat and non fat icecream        float64
Sherbet                            float64
Frozen Yoghurt                     float64
Other Frozen Prodcuts              float64
Total.1                            float64
Whole Milk/Evaporated_Condensed    float64
Skim Milk/Evaporated_Condensed     float64
Total/Evaporated_Condensed         float64
Whole Milk/Dry                      object
Nonfat Milk/Dry                    float64
Buttermilk/Dry                      object
Total/Dry                          float64
Dried Whey                         float64
All Dairy                          float64
dtype: object

In [110]:
def replace_string_vals(x):
    try:
        return float(x)
    except Exception as e:
        print(e, x)
        return np.nan

def handle_inconsistent_vals(df):
    for col in df.columns:    
        if df[col].dtype == object:
            df[col] = df[col].apply(lambda x: replace_string_vals(x))
    return df

In [111]:

for col in df_dairy_trimmed.columns:
    
    if df_dairy_trimmed[col].dtype == object:
        df_dairy_trimmed[col] = df_dairy_trimmed[col].apply(lambda x: replace_string_vals(x))

could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --

### After removing inconsistent values

In [88]:
df_dairy_trimmed.dtypes

Year                                 int64
Fluid Milk                         float64
Fluid Cream                        float64
Sour Cream                         float64
Yoghurt                            float64
Butter                             float64
American Cheese                    float64
Other Cheeses                      float64
Total                              float64
Cottage Cheese                     float64
Ice cream                          float64
Lowfat and non fat icecream        float64
Sherbet                            float64
Frozen Yoghurt                     float64
Other Frozen Prodcuts              float64
Total.1                            float64
Whole Milk/Evaporated_Condensed    float64
Skim Milk/Evaporated_Condensed     float64
Total/Evaporated_Condensed         float64
Whole Milk/Dry                     float64
Nonfat Milk/Dry                    float64
Buttermilk/Dry                     float64
Total/Dry                          float64
Dried Whey                         float64
All Dairy                          float64
dtype: object

In [70]:
df_dairy_trimmed["Sour Cream"]

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
108    4.268341
109    4.288897
110    4.339255
111    4.428532
112    4.501778
Name: Sour Cream, Length: 113, dtype: float64

## Check Missing values

In [89]:
pd.isna(df_dairy_trimmed).sum()

Year                                0
Fluid Milk                          0
Fluid Cream                        15
Sour Cream                         45
Yoghurt                            45
Butter                              0
American Cheese                     0
Other Cheeses                       0
Total                               0
Cottage Cheese                      0
Ice cream                           0
Lowfat and non fat icecream        31
Sherbet                            41
Frozen Yoghurt                     80
Other Frozen Prodcuts              41
Total.1                             0
Whole Milk/Evaporated_Condensed     0
Skim Milk/Evaporated_Condensed      0
Total/Evaporated_Condensed          0
Whole Milk/Dry                     12
Nonfat Milk/Dry                    11
Buttermilk/Dry                     31
Total/Dry                          10
Dried Whey                         28
All Dairy                           0
dtype: int64

## Handle Missing Values
1. In most cases in this dataset, if there are missing values, means that there was no data availabe during that year.
2. It is also observed that most of the missing values are appear contigously before or after a given time period. For example - For the category of dairy - Fluid Cream, we can see that there was no data recorded after 2006. 
3. Hence, it would be fitting to replace these values with a 0 and ignore these values during visualization or model building.

In [128]:
def handle_missing_vals(df):
    df_ = df.fillna(0)
    return df_

In [126]:
df_dairy_trimmed.fillna(0, inplace=True)

In [127]:
pd.isna(df_dairy_trimmed).sum()

Year                               0
Fluid Milk                         0
Fluid Cream                        0
Sour Cream                         0
Yoghurt                            0
Butter                             0
American Cheese                    0
Other Cheeses                      0
Total                              0
Cottage Cheese                     0
Ice cream                          0
Lowfat and non fat icecream        0
Sherbet                            0
Frozen Yoghurt                     0
Other Frozen Prodcuts              0
Total.1                            0
Whole Milk/Evaporated_Condensed    0
Skim Milk/Evaporated_Condensed     0
Total/Evaporated_Condensed         0
Whole Milk/Dry                     0
Nonfat Milk/Dry                    0
Buttermilk/Dry                     0
Total/Dry                          0
Dried Whey                         0
All Dairy                          0
dtype: int64

In [60]:
df_dairy_trimmed["Sour Cream"]

0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
               ...
108    4NaN2683406906914705
109     4NaN288896868447991
110     4NaN339255026275431
111     4NaN428531736348619
112     4NaN501778121790153
Name: Sour Cream, Length: 113, dtype: object

In [94]:
df_dairy_trimmed.to_csv("Food_Availability/cleaned_data/df_dairy.csv")

In [19]:
df_temp[pd.isna(df_temp["Fluid Cream"])]

     Year  Fluid Cream
98   2007          NaN
99   2008          NaN
100  2009          NaN
101  2010          NaN
102  2011          NaN
103  2012          NaN
104  2013          NaN
105  2014          NaN
106  2015          NaN
107  2016          NaN
108  2017          NaN
109  2018          NaN
110  2019          NaN
111  2020          NaN
112  2021          NaN

## Fluid Milk

In [181]:
df_fluid_milk_trimmed = pd.read_csv("Food_Availability/trimmed_data/df_fluid_milk_trimmed.csv")

In [182]:
df_fluid_milk_trimmed

,Unnamed: 0,Year,US Population,Plain Whole Milk - Consumed,Plain Whole Mild - Sales,Plain Whole Milk - Total,Flavored Whole Milk,Total Plain and Flavored,2 Percent Plain,1 Percent Plain,...,Total Low Fat.1,Buttermilk,Skim Milk,Butter and Skim Consumed,Total low fat and skim,Other Eggnog,Misc,Total other,Total beverage milk Sales,Total Beverage Fluid Milk Available
0,6,1909,90.490000,9643,11121.0,20764.0,128.0,20892.0,NaN,NaN,...,86.0,221.0,114.0,5299.0,5720.0,*,NaN,NaN,11670.0,26612.0
1,7,1910,92.407000,9671,10220.0,19891.0,118.0,20009.0,NaN,NaN,...,79.0,215.0,111.0,5239.0,5644.0,*,NaN,NaN,10743.0,25653.0
2,8,1911,93.863000,9696,9863.0,19559.0,118.0,19677.0,NaN,NaN,...,80.0,203.0,104.0,5209.0,5596.0,*,NaN,NaN,10368.0,25273.0
3,9,1912,95.335000,9716,12729.0,22445.0,153.0,22598.0,NaN,NaN,...,104.0,261.0,134.0,5177.0,5676.0,*,NaN,NaN,13381.0,28274.0
4,10,1913,97.225000,9732,12225.0,21957.0,147.0,22104.0,NaN,NaN,...,100.0,250.0,129.0,5142.0,5621.0,*,NaN,NaN,12851.0,27725.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,114,2017,324.985539,91,15621.4,15712.4,655.5,16367.9,16101.8,6805.2,...,26884.8,501.1,4410.4,NaN,31796.3,146.2,49.5,195.7,48268.9,48359.9
109,115,2018,326.687501,89,15900.8,15989.8,708.0,16697.8,15667.1,6442.8,...,25939.9,478.3,3965.5,NaN,30383.7,123.9,118.3,242.2,47234.7,47323.7
110,116,2019,328.239523,89,16122.9,16211.9,779.9,16991.8,15284.3,6067.9,...,25097.9,445.0,3542.8,NaN,29085.7,121.4,306.7,428.1,46416.6,46505.6
111,117,2020,329.877505,86,16651.3,16737.3,765.5,17502.8,15838.0,5809.6,...,24523.3,420.5,3067.6,NaN,28011.4,132.1,804.3,936.4,46364.6,46450.6
112,118,2021,331.893745,84,15811.7,15895.7,810.0,16705.7,14609.1,5454.2,...,23424.2,454.1,2691.5,NaN,26569.8,140.8,1179.9,1320.7,44512.2,44596.2

In [183]:
duplicate_len = check_duplicates(df_fluid_milk_trimmed)

In [184]:
df_fluid_milk_trimmed.dtypes

Unnamed: 0                               int64
Year                                     int64
US Population                          float64
Plain Whole Milk - Consumed              int64
Plain Whole Mild - Sales               float64
Plain Whole Milk - Total               float64
Flavored Whole Milk                    float64
Total Plain and Flavored               float64
2 Percent Plain                        float64
1 Percent Plain                        float64
Total Low Fat                          float64
Low Fat Flavored                       float64
Total Low Fat.1                        float64
Buttermilk                             float64
Skim Milk                              float64
Butter and Skim Consumed               float64
Total low fat and skim                 float64
Other Eggnog                            object
Misc                                   float64
Total other                            float64
Total beverage milk Sales              float64
Total Beverage Fluid Milk Available    float64
dtype: object

In [185]:
df_fluid_milk_trimmed_temp = handle_inconsistent_vals(df_fluid_milk_trimmed)

could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *

In [134]:
df_fluid_milk_trimmed_temp_ = handle_missing_vals(df_fluid_milk_trimmed_temp)

In [136]:
df_fluid_milk_trimmed_temp_.to_csv("Food_Availability/cleaned_data/df_fluid_milk.csv")

## EGGS

In [137]:
df_eggs_trimmed = pd.read_csv("Food_Availability/trimmed_data/df_eggs_trimmed.csv")

In [139]:
duplicate_len = check_duplicates(df_fluid_milk_trimmed)

In [140]:
duplicate_len

0

In [144]:
df_eggs_trimmed.dtypes

Unnamed: 0                                 int64
Year                                       int64
US Population                            float64
Shell Total                              float64
Shell Per Capita                         float64
Processed Total                          float64
Processed Per Capita                     float64
Total Farm Weight Count                  float64
Total Farm Weight Count Per Capita       float64
Total Farm Weight Pounds                 float64
Total Farm Weight Pounds Per Capita      float64
Total Retail Weight Count                float64
Total Retail Weight Count Per Capita     float64
Total Retai Weight Pounds                float64
Total Retail Weight Pounds Per Capita    float64
dtype: object

In [145]:
df_eggs_trimmed_temp = handle_inconsistent_vals(df_eggs_trimmed)

In [147]:
df_eggs_trimmed_temp_ = handle_missing_vals(df_eggs_trimmed_temp)

In [153]:
df_eggs_trimmed_temp_.to_csv("Food_Availability/cleaned_data/df_eggs.csv")

In [154]:
df_eggs_trimmed_temp_

,Unnamed: 0,Year,US Population,Shell Total,Shell Per Capita,Processed Total,Processed Per Capita,Total Farm Weight Count,Total Farm Weight Count Per Capita,Total Farm Weight Pounds,Total Farm Weight Pounds Per Capita,Total Retail Weight Count,Total Retail Weight Count Per Capita,Total Retai Weight Pounds,Total Retail Weight Pounds Per Capita
0,5,1909,90.490000,0.000000,0.000000,0.000000,0.000000,26496.000000,292.805835,3466.560000,38.308763,3362.563200,37.159500,25701.120000,284.021660
1,6,1910,92.407000,0.000000,0.000000,0.000000,0.000000,28272.000000,305.950848,3698.920000,40.028569,3587.952400,38.827712,27423.840000,296.772322
2,7,1911,93.863000,0.000000,0.000000,0.000000,0.000000,30900.000000,329.203200,4042.750000,43.070752,3921.467500,41.778629,29973.000000,319.327104
3,8,1912,95.335000,0.000000,0.000000,0.000000,0.000000,29688.000000,311.407143,3884.180000,40.742435,3767.654600,39.520162,28797.360000,302.064929
4,9,1913,97.225000,0.000000,0.000000,0.000000,0.000000,29484.000000,303.255336,3857.490000,39.675906,3741.765300,38.485629,28599.480000,294.157675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,113,2017,325.206030,65095.020330,200.165478,25987.997461,79.912410,91083.017791,280.077887,11916.694828,36.643524,11737.944405,36.093871,89716.772524,275.876719
109,114,2018,326.923976,66692.076244,203.998731,27208.716827,83.226434,93900.793071,287.225165,12285.353760,37.578626,12101.073454,37.014946,92492.281175,282.916788
110,115,2019,328.475998,67969.319228,206.923244,28271.572102,86.068913,96240.891330,292.992157,12591.516616,38.333141,12402.643866,37.758143,94797.277960,288.597275
111,116,2020,330.113980,69613.528152,210.877250,24881.815818,75.373408,94495.343970,286.250658,12363.140836,37.451128,12177.693724,36.889361,93077.913811,281.956898
112,117,2021,332.140523,66942.493028,201.548707,25931.382346,78.073528,92873.875374,279.622235,12150.998695,36.583909,11968.733714,36.035150,91480.767244,275.427901

## Fats

In [150]:
df_fats_trimmed = pd.read_csv("Food_Availability/trimmed_data/df_fats_trimmed.csv")

In [151]:
df_fats_trimmed

,Unnamed: 0,Year,"U.S. total population, July 11",Butter7,Margarine7,Lard2,Edible tallow2,Shortening,Salad and cooking oils3 4,Other edible fats and oils5,Total6
0,5,1910,92.407000,18.407696,1.558324,8.213663,NaN,8.000000,NaN,1.5,37.679683
1,6,1911,93.863000,18.686809,1.086690,5.635874,NaN,8.000000,NaN,1.5,34.909373
2,7,1912,95.335000,16.625583,1.458016,11.213091,NaN,8.328526,NaN,1.2,38.825216
3,8,1913,97.225000,16.518385,1.542813,10.686552,NaN,9.544870,NaN,1.9,40.192620
4,9,1914,99.111000,17.001140,1.402468,10.634541,NaN,10.755617,NaN,3.8,43.593767
...,...,...,...,...,...,...,...,...,...,...,...
103,108,2013,316.358778,5.474058,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,109,2014,318.662368,5.500338,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,110,2015,320.978213,5.608702,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,111,2016,323.291042,5.700714,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,112,2017,325.186237,5.697281,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
class data_cleaning:
    
    def __init__(self, df, filename, out_filepath):
        self.df = df
        self.filename = filename
        self.out_filepath = out_filepath
        
    def check_duplicates(self):
        print("Number of Duplicate rows")
        print("*"*100)
        print(len(self.df[self.df.duplicated()]))
        if len(self.df[self.df.duplicated()]) > 0:
            self.df = self.df.drop_duplicates()
        
    def replace_string_vals(self, x):
        try:
            return float(x)
        except Exception as e:
            print(e, x)
            return np.nan

    def handle_inconsistent_vals(self):
        for col in self.df.columns:    
            try:
                if self.df[col].dtype == object:
                    self.df[col] = self.df[col].apply(lambda x: self.replace_string_vals(x))
            except Exception as e:
                print(self.df[col])
    
    def handle_missing_vals(self):
        self.df = self.df.fillna(0)
    
    def clean_data(self):
        self.check_duplicates()
        self.handle_inconsistent_vals()
        self.handle_missing_vals()
        self.df.to_csv("%s/%s.csv"%(self.out_filepath, filename))

In [168]:
import os

In [192]:
for file in os.listdir("Food_Availability/trimmed_data/"):
    if file.endswith(".csv"):
        print("Processing file...%s"%file)
        df_trimmed = pd.read_csv("Food_Availability/trimmed_data/%s"%file)     
        new_cols = []
        for col in df_trimmed:
            col_ = ''.join([i for i in col if not i.isdigit()])
            new_cols.append(col_)
        df_trimmed.columns = new_cols
        print()
        filename = file.replace("_trimmed.csv","")
        out_filepath = "Food_Availability/cleaned_data/"
        obj = data_cleaning(df_trimmed, filename, out_filepath)
        obj.clean_data()                
        print("Done Processing")
        print("-"*100)

Processing file...df_dairy_trimmed.csv

Number of Duplicate rows
****************************************************************************************************
0
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_eggs_trimmed.csv

Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_fats_trimmed.csv

Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_fish_trimmed.csv

Number of Duplicate rows
****************************************************************************************************
0
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_fluid_milk_trimmed.csv

Number of Duplicate rows
****************************************************************************************************
0
      Percent Plain   Percent Plain
0               NaN             NaN
1               NaN             NaN
2               NaN             NaN
3               NaN             NaN
4               NaN             NaN
..              ...             ...
108         16101.8          6805.2
109         15667.1          6442.8
110         15284.3          6067.9
111         15838.0          5809.6
112         14609.1          5454.2

[113 rows x 2 columns]
      Percent Plain   Percent Plain
0               NaN             NaN
1               NaN             NaN
2               NaN             NaN
3               NaN             NaN
4               NaN             NaN
..              ...             ...
108         16101.8          6805.2
109         15667.1          6442.8
110         15284.3          6067.9
111         15838.0          5809.6
112         14609.1          5454.2

[113 rows x 2 columns]
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
could not convert string to float: '*' *
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_meat_trimmed.csv

Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------

In [194]:
for file in os.listdir("Food_Availability/trimmed_data/fruits/"):
    if file.endswith(".csv"):
        print("Processing file...%s"%file)
        df_trimmed = pd.read_csv("Food_Availability/trimmed_data/fruits/%s"%file)  
        new_cols = []
        for col in df_trimmed:
            col_ = ''.join([i for i in col if not i.isdigit()])
            new_cols.append(col_)
        df_trimmed.columns = new_cols
        df_trimmed = df_trimmed[["Year","Total", "Processed","Fresh"]]
        filename = file.replace("_trimmed.csv","")
        out_filepath = "Food_Availability/cleaned_data/fruits/"
        obj = data_cleaning(df_trimmed, filename, out_filepath)
        obj.clean_data()                
        print("Done Processing")
        print("-"*100)

Processing file...df_Apples_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Apricots_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Avocados_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Bananas_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Blackberries_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Blueberries_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
could not convert string to float: 'NA = Not available.  ' NA = Not available.
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Cantaloupe_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Cherries_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Citrus_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Cranberries_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
could not convert string to float: 'NA = Not available.' NA = Not available.
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Dates_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
could not convert string to float: 'NA = Not available.' NA = Not available.
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Figs_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
could not convert string to float: 'NA = Not available.' NA = Not available.
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Grapefruit_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Grapes_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
could not convert string to float: 'NA = Not available.' NA = Not available.
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Honeydew_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Kiwi_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Lemons_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Limes_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Mangoes_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Noncitrus_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Olives_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
could not convert string to float: 'NA = Not available.' NA = Not available.
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Oranges_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Papayas_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Peaches_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Pears_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Pineapple_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Plums_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Raspberries_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
could not convert string to float: 'NA = Not available.' NA = Not available.
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Strawberries_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Tangerines_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Watermelon_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------

In [195]:
for file in os.listdir("Food_Availability/trimmed_data/vegetables/"):
    if file.endswith(".csv"):
        print("Processing file...%s"%file)
        df_trimmed = pd.read_csv("Food_Availability/trimmed_data/vegetables/%s"%file)  
        new_cols = []
        for col in df_trimmed:
            col_ = ''.join([i for i in col if not i.isdigit()])
            new_cols.append(col_)
        df_trimmed.columns = new_cols
        df_trimmed = df_trimmed[["Year","Total", "Processed","Fresh"]]
        filename = file.replace("_trimmed.csv","")
        out_filepath = "Food_Availability/cleaned_data/vegetables/"
        obj = data_cleaning(df_trimmed, filename, out_filepath)
        obj.clean_data()                
        print("Done Processing")
        print("-"*100)

Processing file...df_Artichokes_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Asparagus_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Beets_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_BellPeppers_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Broccoli_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_BrusselsSprouts_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Cabbage_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Carrots_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Cauliflower_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Celery_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_ChilePeppers_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_CollardGreens_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Cucumbers_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_DryBeans_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_DryPeas_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Eggplant_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Escarole_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Garlic_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_GreenPeas_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_HeadLettuce_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Kale_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_LimaBeans_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Mushrooms_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_MustardGreens_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Okra_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Onions_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_OtherProcVegetables_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Potatoes_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Pumpkin_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Radishes_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_RomaineLettuce_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_SnapBeans_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Spinach_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0

Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Squash_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_SweetCorn_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_SweetPotatoes_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_Tomatoes_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------
Processing file...df_TurnipGreens_trimmed.csv
Number of Duplicate rows
****************************************************************************************************
0
Done Processing
----------------------------------------------------------------------------------------------------

In [163]:
df_fish_trimmed = pd.read_csv("Food_Availability/trimmed_data/df_fish_trimmed.csv")
filename = "df_fish"

In [166]:
obj = data_cleaning(df_fish_trimmed, filename)

In [167]:
obj.clean_data()

Number of Duplicate rows
****************************************************************************************************
0
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --
could not convert string to float: '--' --